<!DOCTYPE html>
<html>
    <head>
        <title>Title</title>
        <meta charset='UTF-8'>
        <meta name='viewport' content='width=device-width, initial-scale=1'>

        <link rel="stylesheet" href="/static/albemClient/css/main.css">

        <script src="https://cdnjs.cloudflare.com/ajax/libs/qrcodejs/1.0.0/qrcode.min.js"></script>
        <script defer src="/static/albemClient/main.js"></script>
    </head>
    <body>
        <header>
            <a>
                <svg alt="">
                    <use xlink:href="/static/albemClient/icons.svg#home"></use>
                </svg>
            </a>

            {% if canEdit%}
                <textarea>{{name}}</textarea>
            {% else %}
                <div>{{name}}</div>
            {% endif %}



            <dialog data-name="share">
                <header>
                    <h1>Share this albem</h1>
                    <form method="dialog">
                        <button>
                            <svg width="20" height="20" viewBox="0 0 100 100" alt="">
                                <use xlink:href="/static/albemClient/icons.svg#close"></use>
                            </svg>
                        </button>
                    </form>
                </header>

                <div>Just scan this qr code</div>
                <section class="QR-Code"></section>

                <div>Or just copy this link</div>
                <section class="Link"></section>
            </dialog>




            <a href="/{{id}}?modal=share">
                <svg alt="">
                    <use xlink:href="/static/albemClient/icons.svg#share"></use>
                </svg>
            </a>

            {% if isOwner%}
                <a href="/{{id}}?modal=settings">
                    <svg alt="">
                        <use xlink:href="/static/albemClient/icons.svg#settings"></use>
                    </svg>
                </a>
            {% endif %}
        </header>
        
      
        


        {% for i in range(totalImages) %}
            {{ i }}
        {% endfor %}
    </body>
</html>