<!DOCTYPE html>
<html>
    <head>
        <title>Title</title>
        <meta charset='UTF-8'>
        <meta name='viewport' content='width=device-width, initial-scale=1'>

        <link rel="icon" href="data:;base64,iVBORw0KGgo=">

        <link rel="stylesheet" href="/static/albemClient/css/main.css">

        <script src="https://cdnjs.cloudflare.com/ajax/libs/qrcodejs/1.0.0/qrcode.min.js"></script>
        <script defer src="/static/albemClient/main.js"></script>
        {% if isOwner%}
            <script type="module" defer src="/static/albemClient/ownerManagement.js"></script>
            <script>const albemId = "{{id}}"</script>
        {% endif %}
    </head>
    <body>
        {% if isOwner%}
            <dialog data-name="accessManagement">
                <header>
                    <h1>User Access</h1>
                    <form method="dialog">
                        <button>
                            <svg width="20" height="20" viewBox="0 0 110 110" alt="">
                                <use xlink:href="/static/albemClient/icons.svg#close"></use>
                            </svg>
                        </button>
                    </form>
                </header>

                <form class="addAccess">
                        <input type="text" placeholder="Username/Email">
                        <select>
                            <option value="viewer" selected>Viewer</option>
                            <option value="editor">Editor</option>
                        </select>
                        <button type="submit">Add user access</button>
                    </form>

                <div class="body">

                    <div class="loader"></div>

                </div>
            </dialog>
        {% endif %}

        <dialog data-name="share">
            <header>
                <h1>Share this albem</h1>
                <form method="dialog">
                    <button>
                        <svg width="20" height="20" viewBox="0 0 110 110" alt="">
                            <use xlink:href="/static/albemClient/icons.svg#close"></use>
                        </svg>
                    </button>
                </form>
            </header>

            <div>Just scan this qr code</div>
            <section class="QR-Code"></section>

            <div>Or just copy this link</div>
            <section class="Link"></section>
        </dialog>

        <header>
            <a class="home" href="/">
                <svg alt="" width="30" height="30" viewBox="0 0 100 100">
                    <use xlink:href="/static/albemClient/icons.svg#home"></use>
                </svg>
            </a>

            <div class="name">{{name}}</div>

            <button class="Share">
                <svg alt="" width="30" height="30" viewBox="0 0 100 100">
                    <use xlink:href="/static/albemClient/icons.svg#share"></use>
                </svg>
            </button>

            {% if isOwner%}
                <button class="Usermanagement">
                    <svg alt="" width="30" height="30" viewBox="0 0 100 100">
                        <use xlink:href="/static/albemClient/icons.svg#users"></use>
                    </svg>
                </button>

                <button>
                    <svg alt="" width="30" height="30" viewBox="0 0 100 100">
                        <use xlink:href="/static/albemClient/icons.svg#settings"></use>
                    </svg>
                </button>
            {% endif %}
        </header>


        {% for i in range(totalImages) %}
            {{ i }}
        {% endfor %}
    </body>
</html>