<!DOCTYPE html>
<html>
    <head>
        <title>Title</title>
        <meta charset='UTF-8'>
        <meta name='viewport' content='width=device-width, initial-scale=1'>

        <link rel="stylesheet" href="/static/albemClient/css/main.css">

        <script defer src="/static/albemClient/main.js"></script>
    </head>
    <body>
        <header>
            {% if canEdit%}
                <textarea>{{name}}</textarea>
            {% else %}
                <div>{{name}}</div>
            {% endif %}

            <button>
                <svg alt="">
                    <use xlink:href="/static/albemClient/icons.svg#share"></use>
                </svg>
            </button>

            {% if isOwner%}
                <button>
                    <svg alt="">
                        <use xlink:href="/static/albemClient/icons.svg#settings"></use>
                    </svg>
                </button>
            {% endif %}
        </header>
        
      
        


        {% for i in range(totalImages) %}
            {{ i }}
        {% endfor %}
    </body>
</html>