button{
    all: unset;
    cursor: pointer;
    border-radius: 100%;

    &:hover{
        background-color: rgba(146, 146, 146, 0.422);
    }
}


dialog{
    background-color: white;
    border-radius: 20px;
    width: max-content;
    text-align: center;
    overflow-y: scroll;
    padding: 10px 30px;
    min-height: 200px;
    max-width: 100vw;
    border: none;

    &:not([open]){
        visibility: none;
        display: none;
    }

    & > :not(header){
        font-size: clamp(20px, 1rem, 30px);
    }

    &::backdrop {
        background-color: rgba(0, 0, 0, 0.5);
    }
    
    & > header{
        border-bottom: 1px solid #e6e6f7;
        align-items: center;
        margin-bottom: 20px;
        padding: 10px 0;
        display: flex;
        width: 100%;
       
        
        
        h1{
            margin: 0 0 0 40px;
            text-align: center;
            font-weight: bold;
            flex-grow: 1;
        }
    
        button{
            background-color: #f3f3ff;
            padding: 5px;
            border-radius: 100%;
            height: 30px;
            width: 30px;
            display: flex;
            align-items: center;
            justify-content: center;
        }
    }
}