@import 'general.scss';

body{
    margin: 0;
}

body > header{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px;
    gap: 10px;
    margin-bottom: 20px;
    box-shadow: 
        0 1px 2px 0 rgba(60,64,67,.3), 
        0 2px 6px 2px rgba(60,64,67,.15);


    :is(button, a){
        transition: background-color 200ms ease-in-out;
        background: transparent;
        justify-content: center;
        outline: transparent;
        align-items: center;
        border-radius: 100%;
        height: max-content;
        cursor: pointer;
        display: flex;
        padding: 10px;
        border: none;
        
        &:hover{
            background-color: #F5F5F5;
        }
    } 

    div.name{
        text-overflow: ellipsis; 
        white-space: nowrap; 
        overflow: hidden;
        font-size: 30px;
        margin: 0 10px;
        flex-grow: 1;  
    }
    
    svg{
        color: rgb(60, 64, 67);
    }
}

dialog[data-name=share]{
    section.QR-Code{
        width: 80%;
        margin: auto auto 20px auto;

        img{
            width: 100%;
            height: 100%;
        }
    }

    section.Link{
        border-radius: 5px;
        border: 2px solid #c8c8d6;
        padding: 10px;
        display: flex;
        align-items: center;

        button{
            margin-left: 10px;
            background-color: green;
            border-radius: 5px;
            cursor: pointer;
            color: white;
            padding: 5px;
        }
    }
}