<!DOCTYPE html>
<html>
    <head>
        <title>Title</title>
        <meta charset='UTF-8'>
        <meta name='viewport' content='width=device-width, initial-scale=1'>
    </head>
    <body>

        <h2>This albem is password protected</h2>
        <div>Please enter the password to continue</div>

        <form action="/{{albemId}}/password_auth" method="post">
            <input type="password" placeholder="Password" name="password" id="">
            <button type="submit">continue</button>
        </form>

        {% if passwordIncorect %}
            <div style="color:red">Password incorrect</div>
        {% endif %}

    </body>
</html>